/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
}

.component-header {
    color: white;
    font-size: 22px;
    padding: 5px;
}

.shared-text-container {
    color: white;
    padding: 5px;
    word-wrap: break-word;
}